<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>33</charcode>
    <chardata>
      <data>6</data>
      <data>14</data>
      <data>28</data>
      <data>56</data>
      <data>48</data>
      <data>192</data>
      <data>192</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>126</data>
      <data>126</data>
      <data>126</data>
      <data>126</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>46</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>60</charcode>
    <chardata>
      <data>62</data>
      <data>126</data>
      <data>248</data>
      <data>224</data>
      <data>224</data>
      <data>248</data>
      <data>126</data>
      <data>62</data>
    </chardata>
  </character>
  <character>
    <charcode>62</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>75</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>81</charcode>
    <chardata>
      <data>0</data>
      <data>118</data>
      <data>126</data>
      <data>38</data>
      <data>100</data>
      <data>126</data>
      <data>110</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>82</charcode>
    <chardata>
      <data>240</data>
      <data>144</data>
      <data>60</data>
      <data>255</data>
      <data>235</data>
      <data>126</data>
      <data>110</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>84</charcode>
    <chardata>
      <data>255</data>
      <data>129</data>
      <data>189</data>
      <data>165</data>
      <data>165</data>
      <data>165</data>
      <data>253</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>85</charcode>
    <chardata>
      <data>24</data>
      <data>60</data>
      <data>126</data>
      <data>126</data>
      <data>126</data>
      <data>126</data>
      <data>90</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>86</charcode>
    <chardata>
      <data>219</data>
      <data>231</data>
      <data>126</data>
      <data>189</data>
      <data>189</data>
      <data>126</data>
      <data>231</data>
      <data>219</data>
    </chardata>
  </character>
  <character>
    <charcode>90</charcode>
    <chardata>
      <data>1</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>91</charcode>
    <chardata>
      <data>128</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>92</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>93</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>94</charcode>
    <chardata>
      <data>129</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>95</charcode>
    <chardata>
      <data>129</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>97</charcode>
    <chardata>
      <data>255</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>98</charcode>
    <chardata>
      <data>255</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>101</charcode>
    <chardata>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>102</charcode>
    <chardata>
      <data>255</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>103</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>104</charcode>
    <chardata>
      <data>255</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>105</charcode>
    <chardata>
      <data>255</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>106</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>107</charcode>
    <chardata>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>108</charcode>
    <chardata>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>109</charcode>
    <chardata>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>110</charcode>
    <chardata>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>111</charcode>
    <chardata>
      <data>255</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>112</charcode>
    <chardata>
      <data>255</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>113</charcode>
    <chardata>
      <data>255</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>114</charcode>
    <chardata>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>115</charcode>
    <chardata>
      <data>129</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>116</charcode>
    <chardata>
      <data>129</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>117</charcode>
    <chardata>
      <data>129</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>118</charcode>
    <chardata>
      <data>128</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>119</charcode>
    <chardata>
      <data>1</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>120</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>121</charcode>
    <chardata>
      <data>129</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>122</charcode>
    <chardata>
      <data>129</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>123</charcode>
    <chardata>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>124</charcode>
    <chardata>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>125</charcode>
    <chardata>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>126</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>127</charcode>
    <chardata>
      <data>129</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>156</charcode>
    <chardata>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>157</charcode>
    <chardata>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>158</charcode>
    <chardata>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>159</charcode>
    <chardata>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>173</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>186</charcode>
    <chardata>
      <data>60</data>
      <data>126</data>
      <data>90</data>
      <data>219</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>165</data>
    </chardata>
  </character>
  <character>
    <charcode>187</charcode>
    <chardata>
      <data>60</data>
      <data>126</data>
      <data>126</data>
      <data>219</data>
      <data>219</data>
      <data>255</data>
      <data>255</data>
      <data>165</data>
    </chardata>
  </character>
  <character>
    <charcode>188</charcode>
    <chardata>
      <data>60</data>
      <data>126</data>
      <data>90</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>171</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>189</charcode>
    <chardata>
      <data>60</data>
      <data>126</data>
      <data>90</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>213</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>192</charcode>
    <chardata>
      <data>126</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>126</data>
    </chardata>
  </character>
  <character>
    <charcode>193</charcode>
    <chardata>
      <data>255</data>
      <data>195</data>
      <data>165</data>
      <data>153</data>
      <data>153</data>
      <data>165</data>
      <data>195</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>194</charcode>
    <chardata>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
    </chardata>
  </character>
  <character>
    <charcode>195</charcode>
    <chardata>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
    </chardata>
  </character>
  <character>
    <charcode>196</charcode>
    <chardata>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
    </chardata>
  </character>
  <character>
    <charcode>197</charcode>
    <chardata>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
    </chardata>
  </character>
  <character>
    <charcode>201</charcode>
    <chardata>
      <data>241</data>
      <data>231</data>
      <data>207</data>
      <data>159</data>
      <data>207</data>
      <data>231</data>
      <data>241</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>222</charcode>
    <chardata>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>226</charcode>
    <chardata>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>230</charcode>
    <chardata>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>232</charcode>
    <chardata>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>233</charcode>
    <chardata>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>234</charcode>
    <chardata>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
    </chardata>
  </character>
  <character>
    <charcode>235</charcode>
    <chardata>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>236</charcode>
    <chardata>
      <data>0</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>237</charcode>
    <chardata>
      <data>129</data>
      <data>66</data>
      <data>36</data>
      <data>0</data>
      <data>0</data>
      <data>36</data>
      <data>66</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>238</charcode>
    <chardata>
      <data>129</data>
      <data>66</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>66</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>240</charcode>
    <chardata>
      <data>0</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
      <data>254</data>
    </chardata>
  </character>
  <character>
    <charcode>251</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>252</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>253</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>254</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>255</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>475</charcode>
    <chardata>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>0</data>
      <data>0</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
    </chardata>
  </character>
  <character>
    <charcode>489</charcode>
    <chardata>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
